.work-loop-container {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 2rem;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.work-loop-inner {
  flex-shrink: 0;
  display: flex;
  gap: 2rem;
  min-width: 100%;
  will-change: transform; /* Optimized for GPU */
}

.work-loop-container:hover .work-loop-inner {
  animation-play-state: paused;
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
}